{% extends 'survey/_base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'js/canvas.js' %}"></script>
{% endblock %}

{% block logo %}

{% endblock %}

{% block custom_urls %}
<li class="menu-has-children">
    <a href="#">Instructions</a>
    <ul>
        <li><a href="{% static 'pdf/instruction1.pdf' %}" target="_blank">How-to-annotate</a></li>
    </ul>
</li>
{% endblock %}
{% block body %}
<form id="job_result" action="/submission/" method="post">
    {% csrf_token %}
    <div id="surveyContent">
        {% if dataType != 'pyano' %}
        <video
                id="videoplayer"
                class="video-js vjs-default-skin"
                width="720"
                style="float: left;"
                data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v={{ yid }}"}] }'
                controls>
        </video>
        {% else %}
        <video
                id="videoplayer"
                class="video-js vjs-default-skin"
                width="720"
                style="float: left;"
                controls>
            <source src="{{ source }}" type="video/mp4">
        </video>
        {% endif %}
    </div>
    <div id="panel" style="float:left; margin-left: 10px;">
        <div class="container border-top-generic">
            <h4 class="text-heading">Active object information</h4>
            <div id="object" class="sample-text">

            </div>
        </div>
        <div id="controls" class="container border-top-generic">
            <input type="submit" value="Submit" class="genric-btn primary-border circle">
        </div>
    </div>
    <div id="timer" style="display:none;"></div>
    <div id="my-timeline"></div>
    {% if dataType != 'pyano' %}
    <input type="hidden" value="{{ id }}" name="yid" id="hidden1">
    {% else %}
    <input type="hidden" value="{{ id }}" name="vid" id="hidden1">
    {% endif %}
    <input type="hidden" value="" name="annotations" id="hidden2">


    <input id="time_input" type="hidden" name="elapsed_time" value=""/>
    <div id="timestamp" style="display:none;"></div>
</form>
<script type="text/javascript">
    (function(window, videojs) {
      var player = window.player = videojs('videoplayer',{
        controls: true,
        autoplay: true,
        preload: 'auto',
        plugins: {
            framebyframe: {
            fps: 23.98,
            steps: [
                { text: '-5', step: -5 },
                { text: '-1', step: -1 },
                { text: '+1', step: 1 },
                { text: '+5', step: 5 },
            ]
        }
      }
    });
    player.one('loadedmetadata', function() { console.log(player.duration()); });
    var w = $("#videoplayer").width();
    var h = $("#videoplayer").height();
    player.overlay({
        content: "Default overlay",
        overlays: [{
            align: "none",
            content: '<canvas id="canvas" width="'+w+'" height="'+h+'"></canvas>',
            start: 'playing',
            end: 'paused',
            showBackground: false
        }]
    });
    }(window, window.videojs));

            $(document).ready(function() {
                $('#timer').timer({ hidden_selector: "#time_input", format: 'YODM' });
            });


</script>
{% endblock %}
