.ui-timer {
    width: 100px;
    border-radius: 6px;
    background-color: gray;
    font-size: 20px;
}

.ui-timer .pause-button {
    font-size: 14px;
}

.pause-button-container {
    text-align: center;
    padding:2px 5px 5px 5px;
}

.ui-timer .timer-display {
    text-align: center;
    padding:5px 5px 2px 5px;
}
