{% extends 'pyano2/_base.html' %}

{% block body %}
<div class="row">
    <div class="col-lg-6 col-md-6 ">
        <h2>Search for your Videos</h2>
        <form action="/keyword_search/" method="post" id="search_form">
            {% csrf_token %}
            <div class="single-element-widget">
                <div class="mb-30">Please select one topic for the search (topics are added by admins):</div>
                <div class="default-select" id="default-select">
                    <select style="display: none;" name="topic" form="search_form" required="">
                        {% for topic in topics %}
                        <option value="{{topic.id}}">{{topic.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="single-element-widget">
                <p>Then, please select the keywords. You can use multiple keywords separated by commas.</p>
                <input type="text" name="keywords" placeholder="Use comma to separate the keywords."
                       onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Use comma to separate the keywords.'"
                       required="" class="single-input">
            </div>
            <div class="switch-wrap d-flex justify-content-between">
                <p><a
                        href="https://en.wikipedia.org/wiki/High-definition_television">High-Definition</a> videos
                    or
                    above
                    only.</p>
                <div class="primary-checkbox">
                    <input type="checkbox" id="hd" name="pref_hd" value="hd" checked>
                    <label for="hd"></label>
                </div>
            </div>
            <div class="switch-wrap d-flex justify-content-between">
                <p><a href="https://creativecommons.org/">CreativeCommons</a>
                    videos only.</p>
                <div class="primary-checkbox">
                    <input type="checkbox" id="cc" name="pref_cc" value="cc" checked>
                    <label for="cc"></label>
                </div>
            </div>
            <div class="switch-wrap d-flex justify-content-between">
                <p>Long videos (longer than 20 mins).</p>
                <div class="primary-checkbox">
                    <input type="checkbox" id="long" name="pref_long" value="long">
                    <label for="long"></label>
                </div>
            </div>
            <div class=""><input type="submit" class="primary-btn text-uppercase" value="Search"></div>
        </form>
    </div>
    <div class="col-lg-6 col-md-6 ">
        <h2>Tips and Tricks</h2>
        <p>Some tips which might assist you to the right direction.</p>
        <ul class="unordered-list">
            <li><b>Search in multi-language.</b> For example, if you search for
                "Shoplifting", you can
                translate it into "万引き" in Japanese or "Trộm cửa hàng" in Vietnamese or "दुकानों से सामान चोरी" in Hindi
                language or "
                Vol à l'étalage" in French. Thanks to <a href="https://translate.google.com/">Google Translate</a>.
                Please use this service because we do not translate your query.
            </li>
            <li><b>Care about the device.</b> If you want to search
                shoplifting
                videos captured by
                security cameras, some possible keywords are "Shoplifting security camera", "Shoplifting CCTV footage"
                and "Shoplifting surveillance camera".
            </li>
            <li><b>Other details</b> might help either such as the places
                (shoplifting in
                drug stores or
                in beauty stores) or specialized vocabulary can help to refine your search results.
            </li>
        </ul>
    </div>
</div>
{% endblock %}