{% extends 'pyano2/_base.html' %}
{% load i18n %}

{% block body %}
<div class="section-top-border">
    <h3 class="mb-30">List of surveys</h3>
    <div class="progress-table-wrap">
        <div class="progress-table">
            <div class="table-head">
                <div class="serial">#</div>
                <div class="country">Survey</div>
                <div class="visit">Questions</div>
            </div>
            {% for survey in surveys %}
            <div class="table-row">
                <div class="serial">{{ survey.id }}</div>
                <div class="country"><a href="{{ survey.get_absolute_url }}">
                    {{survey.name}}</a></div>
                <div class="visit">{{ survey.num_questions }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
