{% extends 'pyano2/_base.html' %}

{% block body %}
<div class="col-lg-12">
    <h3 class="mb-30">List of jobs</h3>
    <table id="jobs">
        <thead>
        <tr>
            <th>#</th>
            <th>Group</th>
            <th>URL</th>
            <th>Point</th>
            {% if not user.is_staff %}<th></th> {% endif %}
            {% if user.is_staff %}<th></th> {%endif%}
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
        <tr>
            <th>{{job.id }}</th>
            <th>{{job.group.title}}</th>
            <th><a href="/vatic?id={{job.id}}" target="_blank">
                /vatic?id={{job.id}}</a></th>
            <th>{{job.group.cost.point}}</th>
            {% if not user.is_staff %}<th><a href="/vatic/bid?id={{job.id}}" target="_blank">Bid this job</a> </th>{% endif %}
            {% if user.is_staff %}<th><a href="/vatic/finalize?id={{job.id}}">Finalize</a></th> {%endif%}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block custom_js %}
<script>
    $(document).ready(function () {
        $('#jobs').DataTable();
    });
</script>
{% endblock %}