{% load staticfiles %}
{% load comments %}

<!DOCTYPE html5>
<html>
<head>

    <title>vatic</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/vatic/turkic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vatic/vatic.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vatic/jquery-ui-1.10.4.custom.css' %}">

    <script src="{% static 'js/vatic/turkic.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/vatic/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/vatic/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script src="{% static 'js/vatic/videoplayer.js' %}"></script>
    <script src="{% static 'js/vatic/preload.js' %}"></script>
    <script src="{% static 'js/vatic/objectui.js' %}"></script>
    <script src="{% static 'js/vatic/ui.js' %}"></script>
    <script src="{% static 'js/vatic/instructions.js' %}"></script>
    <script src="{% static 'js/vatic/job.js' %}"></script>
    <script src="{% static 'js/vatic/tracks.js' %}"></script>
    <script src="{% static 'js/vatic/bootstrap.js' %}"></script>
</head>
<body>

<div id="container">
    {% csrf_token %}
</div>

{% get_comment_count for job as comment_count %}
    <div class="py-4 text-center">
        {{ comment_count }} comment{{ comment_count|pluralize }}
        ha{{ comment_count|pluralize:"s,ve" }} been posted.
    </div>
    {% if comment_count %}
        <hr/>
        <div class="comments">
            {% render_comment_list for job %}
        </div>
    {% endif %}
        <div class="card card-block mb-5">
            <div class="card-body">
                <h4 class="card-title text-center pb-3">Post your comment</h4>
                {% render_comment_form for job %}
            </div>
        </div>

<!--<div id="peer_comments">-->
    <!--{% if user.is_staff %}-->
    <!--You are in review mode!-->
    <!--<form method="post" action="/vatic/comment/">-->
        <!--{% csrf_token %}-->
        <!--{{form.as_p}}-->
        <!--<input type="hidden" name="id" value="{{id}}">-->
        <!--<input type="submit" value="Submit comment">-->
    <!--</form>-->
    <!--{% else %}-->
    <!--This work obtained {{comments|length}} reviews.-->
    <!--<table>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>Score</th>-->
            <!--<th>Comments</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--{% for comment in comments %}-->
            <!--<tr>-->
                <!--<td>{{comment.id}}</td>-->
                <!--<td>{{comment.score}}</td>-->
                <!--<td>{{comment.comment}}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
        <!--</tbody>-->
    <!--</table>-->
    <!--{%endif%}-->
<!--</div>-->
</body>
</html>