{% extends 'pyano2/_base.html' %}

{% block body %}
<div class="col-lg-12  col-md-6 header-right">
    <h4 class="pb-30">Login</h4>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <!--<a class="text-uppercase primary-btn" href="#">Get Details</a>-->
        <div class="form-group">
            <button class="btn btn-default btn-lg btn-block text-center text-uppercase" type="submit">Login</button>
        </div>
    </form>
    <p><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></p>
    <p><a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br></p>
    <p><a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a></p>
    <!--<p><a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></p>-->
</div>
{% endblock %}