{% extends 'pyano2/_base.html' %}

{% block body %}
<div class="col-lg-20 col-md-20">
    <h3 class="mb-30">Profile</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="single-defination">
                <h4 class="mb-20">What you've done</h4>
                <p>
                <ul class="unordered-list">
                    <li>You made {{keywords|length}} searches.</li>
                    <li>You made {{responses|length}} answers to our surveys.</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="single-defination">
                <h4 class="mb-20">Basic information</h4>
                <p>
                <ul class="unordered-list">
                    <li>First name: {{user.first_name}}</li>
                    <li>Last name: {{user.last_name}}</li>
                    <li>Email: {{user.email}}</li>
                    <li>Joined at {{user.date_joined}}</li>
                    <li>Last login: {{user.last_login}}</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-6">
    <h3 class="mb-30">Your keywords</h3>
    <div class="row">
        <table id="keywords">
            <thead>
            <tr>
                <th>#</th>
                <th>Keyword</th>
                <th>Searched at</th>
                <th>Topic</th>
            </tr>
            </thead>
            <tbody>
            {% for keyword in keywords %}
            <tr>
                <th>{{ keyword.id }}</th>
                <th>{{keyword.content}}</th>
                <th>{{keyword.created}}</th>
                <th>{{keyword.topic.name}}</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-6 col-md-6">
    <h3 class="mb-30">Your answers</h3>
    <div class="row">
        <table id="answers">
            <thead>
            <tr>
                <th>#</th>
                <th>Survey</th>
                <th>Answered at</th>
                <th>Video</th>
            </tr>
            </thead>
            <tbody>
            {% for response in responses %}
            <tr>
                <th>{{response.id }}</th>
                <th>{{response.survey.name}}</th>
                <th>{{response.updated}}</th>
                <th><a href="{{ response.survey.get_absolute_url }}/?videoID={{response.video.id}}" target="_blank">
                    {{response.video.vid}}</a></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if invitations|length > 0 %}
<div class="col-lg-12 col-md-12">
    <h3 class="mb-30">Your invited these people</h3>
    <div class="row">
        <table id="invitations">
            <thead>
            <tr>
                <th>#</th>
                <th>Invites</th>
                <th>Emai</th>
                <th>Invited at</th>
                <th>Job</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for invitation in invitations %}
            <tr>
                <th>{{invitation.id}}</th>
                <th>{{invitation.name}}</th>
                <th>{{invitation.email}}</th>
                <th>{{invitation.created}}</th>
                <th><a href="{{ invitation.survey.get_absolute_url }}" target="_blank">
                    {{invitation.survey.name}}</a></th>
                <th>{% ifequal invitation.status 0%}
                    Pending{%endifequal%}
                    {% ifequal invitation.status 1%}
                    Accepted
                    {%endifequal%}
                    {%ifequal invitation.status 2%}
                    Declined
                    {%endifequal%}
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if invites|length > 0 %}
<div class="col-lg-12 col-md-12">
    <h3 class="mb-30">You are invited by</h3>
    <div class="row">
        <table id="invites">
            <thead>
            <tr>
                <th>#</th>
                <th>Invitor</th>
                <th>Email</th>
                <th>Username</th>
                <th>Invited at</th>
                <th>Job</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for invitation in invites %}
            <tr>
                <th>{{invitation.id}}</th>
                <th>{{invitation.invitor.first_name}} {{invitation.invitor.last_name}}</th>
                <th>{{invitation.invitor.email}}</th>
                <th>{{invitation.invitor.username}}</th>
                <th>{{invitation.created}}</th>
                <th><a href="{{ invitation.survey.get_absolute_url }}" target="_blank">
                    {{invitation.survey.name}}</a></th>
                <th>{% ifequal invitation.status 0%}
                    Pending (<a href="/accept/?uuid={{invitation.uuid}}">Accept</a>/<a href="/decline/?uuid={{invitation.uuid}}">Decline</a>)
                    {%endifequal%}
                    {% ifequal invitation.status 1%}
                    <a href="/accept/?uuid={{invitation.uuid}}">Accepted</a>
                    {%endifequal%}
                    {%ifequal invitation.status 2%}
                    Declined
                    {%endifequal%}
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}

{% block custom_js %}
<script>
    $(document).ready( function () {
    $('#keywords').DataTable();
    $('#answers').DataTable();
    $('#invitations').DataTable();
    $('#invites').DataTable();
} );



</script>
{% endblock %}